:root {
    --primary-color: #4a6fa5;
    --secondary-color: #166088;
    --background-color: #b7b7eb;
    --text-color: #333;
    --error-color: #d9534f;
    --success-color: #3d3d5e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    transition: transform 0.3s ease;
}

.calculator-container:hover {
    transform: translateY(-5px);
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;

}

label {
    display: block;
    font-weight: 500;
    color: var(--secondary-color);
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(74, 111, 165, 0.2);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
}

button:hover {
    background-color: var(--secondary-color);
    scale: 1.01;
    box-shadow: 0 0 0 4px rgba(76, 103, 143, 0.2);
}

.age-details {
    color: var(--success-color);
}

.result {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f7ff;
    border-radius: 5px;
    display: none;
}

.result.show {
    display: block;
    animation: fadeIn 0.5s;
}

.result-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;
}

.result-label {
    font-weight: 500;
    color: var(--secondary-color);
}

.result-value {
    font-weight: 600;
}

.error {
    color: var(--error-color);
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.error.show {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 500px) {

    .calculator-container {
        padding: 20px;
    }

    .age-details {
        font-size: larger;
    }
}